.styleProfile{
    background-color: #1C1F23;
    padding: 20px;
    margin: 20px;
    border: 1px solid;
    text-align: center;
    color: aqua;
}

.styleWeb{
    background-color: #1C1F23;
    padding: 20px;
    margin: 20px;
    border: 1px solid;
    text-align: center;
    color: rgb(224, 122, 255);
}

.styleProfileInfo{
    margin: 5px;
    border: 1px solid;
}

.styleCourses{
    text-align: center;
    background-color: #1C1F23;
    padding: 5px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    border: 1px solid;
    border-bottom: 0px solid;
    color: white;
}
.styleCourses2{
    background-color: #1C1F23;
    padding: 20px;
    margin-right: 20px;
    margin-left: 20px;
    border: 1px solid;
    color: white;
}

.styleCourses3{
    background-color: #1C1F23;
    padding: 10px;
    text-align: center;
    color: white;
}

.profilePic{
    width: 150px;
    padding: 10px;
}