.styleProfile{
    background-color: #1C1F23;
    padding: 20px;
    margin: 20px;
    border: 1px solid;
    text-align: center;
    color: aqua;
}

.styleWeb{
    background-color: #1C1F23;
    padding: 20px;
    margin: 20px;
    border: 1px solid;
    text-align: center;
    color: rgb(224, 122, 255);
}

.styleGames{
    background-color: #1C1F23;
    padding: 20px;
    margin: 20px;
    border: 1px solid;
    text-align: center;
    color: rgb(151, 255, 125);
}

.styleGames2{
    background-color: #1C1F23;
    padding: 20px;
    margin: 20px;
    border: 1px solid;
    text-align: center;
    color: rgb(255, 255, 255);
}

.styleGameDownload{
    background-color: #1C1F23;
    color: rgb(151, 255, 125);
    padding: 5px;
    margin: 1px;
    text-align: center;
    border: 1px solid rgb(151, 255, 125);
}

.styleGamePics{
    width: 100%;
    padding: 5px;
}

.styleProflieInfo{
    color: aqua;
    padding: 1px;
    margin: 1px;
    border: 1px solid aqua;
}

.styleCourses{
    text-align: center;
    background-color: #1C1F23;
    padding: 5px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    border: 1px solid;
    border-bottom: 0px solid;
    color: white;
}
.styleCourses2{
    background-color: #1C1F23;
    padding: 20px;
    margin-right: 20px;
    margin-left: 20px;
    border: 1px solid;
    color: white;
}

.styleCourses3{
    background-color: #1C1F23;
    padding: 10px;
    text-align: center;
    color: white;
}

.profilePic{
    width: 150px;
    padding: 10px;
}

.styleCarousel{
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.styleEmpty{
    padding: 200px;
}